# Ignore video files
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.webm

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp

# Ignore subtitle files
*.srt
*.sub
*.sbv

frame_metadata.json

# Ignore virtual environment directory
venv/

.env

# Airflow
airflow.db
airflow.cfg
logs/
dags/__pycache__/
plugins/__pycache__/

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Font files
*.woff
*.woff2
*.ttf